{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>My Orders</h1>
        <p class="lead">Your order history</p>
    </div>
</div>

{% if orders %}
<div class="row">
    <div class="col-md-12">
        {% for order in orders %}
        <div class="card mb-4">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <h5>Order #{{ order.id }}</h5>
                    <span class="text-muted">{{ order.date_ordered|date:"F j, Y, g:i a" }}</span>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <h6>Items Ordered:</h6>
                        <ul class="list-group">
                            {% for item in order.orderitem_set.all %}
                            <li class="list-group-item d-flex justify-content-between">
                                <span>{{ item.product.name }} (x{{ item.quantity }})</span>
                                <span>${{ item.get_total }}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h6>Order Summary:</h6>
                        <div class="d-flex justify-content-between">
                            <strong>Total:</strong>
                            <strong>${{ order.get_cart_total }}</strong>
                        </div>
                        {% if order.shipping_address %}
                        <hr>
                        <h6>Delivery Address:</h6>
                        <p class="small">
                            {{ order.shipping_address.address }}<br>
                            {{ order.shipping_address.city }}, {{ order.shipping_address.state }} {{ order.shipping_address.zipcode }}
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-md-12 text-center">
        <div class="alert alert-info">
            <h4>No orders yet</h4>
            <p>You haven't placed any orders yet.</p>
            <a href="{% url 'home' %}" class="btn btn-success">Browse Menu</a>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}